[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "SPIRV-Cross"]
	path = third_party/SPIRV-Cross
	url = https://github.com/syoyo/SPIRV-Cross.git
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "third_party/ChaiScript"]
	path = third_party/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "third_party/Catch"]
	path = third_party/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
